* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.toDoForm > * {
    margin:auto;
}

.toDoForm > input {
    width: 300px;
}

.toDoForm > h6 {
    color: grey;
}

.feelingsForm {
    display: none;
}

.showing {
    display: block;
}